*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    
}

table thead tr th{
    background-color: #019879;
    color: #c6fffa;
    padding: 0.9em;
    font-size: 1.1em;    
}
table thead tr th:first-child{
    border-radius: 10px 0 0 0;
   
}
table thead tr th:last-child{
    border-radius: 0 10px 0 0;
}
table tbody tr td{
    text-align: center;
    padding: 0.7em;
}
table tbody tr:nth-child(odd) td{
    background-color: #ffffff;
    color:#434341 ;
}
table tbody tr:nth-child(even) td{
    background-color: #f3f3f3;
    color: #3b8276;
}

table tbody tr:last-child{
    border-bottom: 2px solid #019879;
}